@font-face {
    font-family: 'Graphik';
    src: url('../../assets/GraphikLight.otf'); 
}

@font-face {
  font-family: 'GraphikSemiBold';
  src: url('../../assets/GraphikSemibold.otf');
}


@font-face {
    font-family: 'GraphikBold';
    src: url('../../assets/GraphikMedium.otf');
}

.contenedor {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1495430288918-03be19c7c485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-size: cover;
  background-position:center;
}

/* .texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
*/

.texto-debajo{
  width: 100%;
  background-color: black;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -15%);
  height: 80px;
  display: flex;
  align-items: center;
  font-family: 'Graphik';
  color:#FFFF
}

.imagenTransm{
  margin-left: 35px;

}

.buttonTransm{
  background-color: rgb(4,192,1);
  color:#FFFF;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Graphik';
  font-size: 11px;
}
.buttonTransm:hover{
  background-color: rgb(2, 138, 0);
}

.buttonEvents{
  background-color: black;
  border:1px solid rgb(4,192,1);
  color:rgb(4,192,1);
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Graphik';
  font-size: 11px;
}
.buttonEvents:hover{
  background-color: rgb(2, 138, 0);
}

.centrado3 {
      background-color: rgb(4,192,1);
      color:#FFFF;
      font-family: 'Graphik';
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -10%);
      height:30px;
      padding:25px 45px;
      display:flex;
      align-items:center;
      font-size:12px;
      border-radius:5px;
    }
    
    .centrado3:hover{
      background-color: rgb(2, 138, 0);
    }

.centrado2 {
text-align: center;
  color: rgb(12, 238, 8);
  font-family: 'GraphikBold';
  font-size: 50px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.centrado {
    text-align: center;
  font-family: 'Graphik';
  font-size: 40px;
  font-weight: 300;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
.imagenHome{
    background-size:cover;
    height: '1000px';
} */
