@font-face {
    font-family: 'GraphikEL';
    src: url('./assets/Graphik-Extralight.otf');
}

* { 
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

#asd{
    font-family: 'GraphikEL';
    font-size: 40px;
    color: rgb(150, 23, 23);
    text-align: center;
}



.containerApp{
    background-color: rgb(39,49,56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}